.main{
  display: flex;
  flex-direction: row;
  }


.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }     

.sidebar h1{
  margin:0;
  padding: 20px;
}

.sidebar li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sidebar li:before {
  content: "➤ "; 
  margin-right: 10px;
}