.main{
  display: flex;
  }


.sidebar{
  display: flex;
  flex-direction: column;
  background-color: blue;
  width: 200px;
 }     

 .sidebar-nav{
  list-style-type: none !important;
  padding: 0;
  margin: 0;
 }

 .sidebar-nav li {
  padding: 10px 0;
}